{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area head-trans overflow-hidden" id="parallax">
    <div class="container slogan-box">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary font-autoscale-header">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
        </div>
      </div>
    </div>
    
  </section>
  <!-- /hero area -->

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Glasreinigung mit System in Hannover</h2>
          <p class="section-text">
            Professionelle Glasreinigung in Hannover und Umgebung. Wir kümmern uns um Ihre dreckigen Fenster und garantieren beste Sauberkeit durch unseren flexiblen und umweltfreundlichen Glasreinigungs-Service in Hannover. Als moderner und innovativer Glasreiniger in Hannover für den privaten, sowie den gewerblichen Bereich bieten wir ein vielfältiges Leistungsangebot nach Ihren Wünschen an.</p>
        </div>
        
        
      </div>
    </div>
  </section>


  <section class="section counter-section">
      <div class="row counter-row">
        <div class="col-1-3">
          <p class="counter-number counter first-count" data-target="100" data-percentage="true">0</p>
          <p class="counter-text">SAUBER</p>
        </div>

        <div class="col-1-3">
          <p class="counter-number counter first-count" data-target="903" data-percentage="false">0</p>
          <p class="counter-text">ZUFRIEDENE KUNDEN</p>
          
        </div>
          

        <div class="col-1-3">
          <p class="counter-number counter first-count" data-target="100" data-percentage="true">0</p>
          <p class="counter-text">WENIGER AUFWAND</p>
          
        </div>
        
        
      </div>
  </section>

  <section class="section services-section" style="background-image: url('{{`images/homepage/glasreinigungmitsystem-example-window.jpg` | relURL}}')"> 
    <div class="services-content">
      <h2 class="section-title text-center">Dreckige Fenster? Kein Problem</h2>
      <p class="section-text">
       Sind Ihre Fenster in Hannover wieder dreckig? Wir reinigen Ihr Glas professionell und effizient. Benötigen Sie eine andere Glasreinigung als eine klassiche Fensterreinigung in Hannover? Dann werden Sie bestimmt in unserem umfassenden Leistungsangebot an diversen Glasreinigungsdienstleistungen fündig. Klicken Sie dazu unten auf die Schaltfläche und wählen Sie die passende Glasreinigung aus und wir unterbreiten Ihnen ein persönliches Angebot und passen dieses nach Ihren Wünschen an. </p>
      <button type="button" class="btn btn-secondary">Leistungsangebot</button>
  </div>
  </section>




  {{ if .Site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Blog</h2>
        </div>
        {{ range first 3 (where .Site.RegularPages "Params.hidden" "ne" "true")}}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}


{{ end }}
